protobuf<3.20
wheel
gcc7
Cmake
nes-py
setuptools
streamlit
keras
numpy
tensorflow
Pillow
opencv-python-headless
requests
python-google-places
bokeh<3.0.0
streamlit-bokeh-events
joblib
scikit-learn
pickle5
catboost==0.26.1
boto3==1.18.23
botocore==1.21.23
